{% extends base_template %}

{% load staticfiles %}

{% block section %}

<div id="user_content">
    <h3>Welcome <span style="color: #FF9030;">{{user}}</span></h3>
    {% csrf_token %}
    <p>Just testing serials_user_main view.</p>       
</div>

{% endblock %}