{% extends base_template %}

{% block section %}
    <div id="content">
        <h3>About <span style="color: #FF9030;">{{APPNAME}}</span></h3>
        <p>{{APPNAME}} is a continuous evolving PhosphoProteome DataBase for {{CELLTYPE}}. 
        And it's also a Web-Application that allows everyone to 
        freely access all this information from the Internet.</p>

        <h4>PhosphoProteome</h4>
        <p>Protein phosphorylation-dephosphorylation events play a primordial role 
        in almost all aspects of cell function including signal transduction, cell 
        cycle and apoptosis. Phosphorylation is probably the most frequent reversible 
        posttranslational modification of proteins (about 30% of the cell proteins 
        are phosphorylated in a given condition). However, the number of known <i>in 
        vivo</i> substrates of kinases is still low.</p>
        
        <h4>Where <span style="color: #FF9030;">{{APPNAME}}</span> comes from?</h4>
        <p>LymPHOS data has been obtained at the <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
        Proteomics Laboratory</a> of the Superior Council of Scientific Research mainly
        under a Spanish Research Project funded by Research and Education Ministry
        (BIO2004-01788) during the period 2004-2011. In this project we intend to study,
        using a proteomic approach, the phosphoproteome of resting and physiologically
        or pharmacologically activated T and B lymphocytes. The main objective was the
        design of a coherent and comprehensive database of phosphoproteins and
        phosphorylation sites in these cells. The characterization of phosphorylation
        motifs will help in the search for new, physiologically relevant kinases as well
        as in the understanding of the mechanisms involved in the regulation of protein
        function. This information is the first step towards the design of new therapies
        based in drugs controlling either kinase/phosphatase activities or the activity
        of other proteins in key points of the affected pathways.</p>
        
        <a name="credits"></a>
        <h3>Credits</h3>
        <p>This work has been carried out at <a href="http://proteomica.uab.cat" 
        title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
        Proteomics Laboratory</a>, part of the <a href="http://www.csic.es" 
        title="Spanish National Research Council (CSIC) WebPage" target="_blank">
        Spanish National Research Council (<i>Consejo Superior de Investigaciones 
        Cient&iacute;ficas</i> - CSIC)</a>, from Catalonia (Spain), and part of
        <a href="http://www.proteored.org/" title="ProteoRed WebPage" 
        target="_blank">ProteoRed (Proteomics National NetWork Platform)</a>.</p>
        <p>The people who has participated directly in the current work are:</p>
        <ul>
            <li>Mass Spectrometry, study design and implementation: <em title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Montserrat Carrascal</em>, <em title="mgmbam &lt;at&gt; iibb.csic.es">Marina Gay</em> and <em title="nguyentiendung_bk &lt;at&gt; yahoo.com">Nguyen TienDung</em></li>
            <li>Sample preparation: <em title="montserrat.carrascal.csic &lt;at&gt; uab.cat">Montserrat Carrascal</em>, <em title="mgmbam &lt;at&gt; iibb.csic.es">Marina Gay</em>, <em title="nguyentiendung_bk &lt;at&gt; yahoo.com">Nguyen TienDung</em> and <em title="vcasaslopez &lt;at&gt; gmail.com">Vanessa Casas</em></li>
            <li>Data analysis, bioinformatics and informatics: <em title="joaquin.abian.csic &lt;at&gt; uab.cat">Joaquin Abian</em> and <em title="ogallardo &lt;at&gt; proteored.org">&Oacute;scar Gallardo</em></li>    
            <li>Direction: <em title="joaquin.abian.csic &lt;at&gt; uab.cat">Joaquin Abian</em></li>
        </ul>
        <a name="contact"></a>
        <h3>Contact data</h3>
        <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">
        <img alt="LP CSIC/UAB Logo" src="/files/images/logo_lpcsicuab.png" class="right"></a>
        <p><a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank"><b>Laboratorio de Proteomica CSIC/UAB</b></a><br/>
        Facultad de Medicina, Edificio M, Campus UAB<br/>
        08193, Cerdanyola (Barcelona), Spain<br/>
        <img src="/files/images/contact.png" title="lp.csic &lt;at&gt; uab.cat"/><br/>
        Phone number: <b>+34 93 581 48 55</b></p>
    </div>
{% endblock %}