{# Main Base Django template for the web_registratio Project #}

{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1" />
        <meta name="Author" content="Óscar Gallardo at LP-CSIC/UAB" />
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="icon" href="{% static 'images/animated_favicon.gif' %}" type="image/gif" />
        <link href="{% static 'css/'|add:css_sheet %}" rel="stylesheet" type="text/css" />
        <title>{{APPNAME}}{% if section_title %} - {{section_title}}{% endif %}</title>
    </head>

    <body>
        {# {% spaceless %} #}
        <a name="top"></a>
        <div id="wrap">
            <div id="header">
                <h1>
                    <a rel="start" href="/"><img src="{% static 'images/logo.png' %}" alt="logo" title="LP-CSIC/UAB web registratio"/></a>
                </h1>
                <h2>
                    (cc) 2014 <a rel="copyright" href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory" target="_blank">Laboratori de Prote&ograve;mica CSIC/UAB</a>
                </h2>
            </div>
            
            <div id="menucontainer">
                {% include 'nav_bar.html' %}
            </div>
    
            <div id="container">
                {# And now the main content of the current section #}
                {% block section %}{% endblock %}
            </div>
    
            <div id="footer">
                {% include 'footer.html' %}
            </div>
        </div>
        {# {% endspaceless %} #}
    </body>

</html>
