{% load staticfiles %}

<a rel="bookmark" href="http://www.djangoproject.com/"><img src="{% static 'images/djangoproject120x25.gif' %}" alt="A Django project." title="A Django project." id="django_logo" hspace="5" vspace="5" align="middle" /></a>
<a rel="bookmark" href="http://www.python.org/" title="Python Powered" ><img src="{% static 'images/python-powered-w-70x28.png' %}" alt="Python Powered" id="python_logo" vspace="5" hspace="5" align="middle" /></a>
<br />
<span class="noshadow">
{{APPNAME}} Web Application is designed using the <a rel="bookmark" href="http://www.djangoproject.com/" title="The Django framework Home Page">Django Framework</a> and the <a rel="bookmark" href="http://www.python.org" title="Python Programming Language Official Website">Python</a> Programming Language.
<br /><br />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
{{APPNAME}} Web-App</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://proteomica.uab.cat" property="cc:attributionName" rel="cc:attributionURL">Laboratori de Proteòmica CSIC/UAB</a> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</span>
<br />&nbsp;
