{% extends base_template %}

{% load staticfiles %}

{% block section %}
    <div id="content">
        <h3>Welcome to <span style="color: #FF9030;">{{APPNAME}}</span></h3>
        <p>{{APPNAME}} is a web-oriented DataBase containing peptidic and protein sequences 
        and spectrometric information on the PhosphoProteome of .</p>
        <p>More detailed information on this site and the people at the <a href="http://proteomica.uab.cat" title="CSIC/UAB Proteomics Laboratory WebPage" target="_blank">CSIC/UAB
        Proteomics Laboratory</a> behind it can be obtained at the <a rel="section" href="{% url 'about' %}" title="About {{APPNAME}}">About</a> section.</p>       
    </div>
{% endblock %}