{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}

  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are logged-in.</p>

{% else %}

  {% if form.errors %}
    <p class="error">Your username and password don't match. Please try again:</p>
  {% else %}
    <p>Please, enter your username and password to log-in:</p>
  {% endif %}
  
  <form method="post" action="">
    {% csrf_token %}
    <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
    <tr>
      <td><button type="submit" value="login" name="login" title="Log-in with given username and password">
        <img alt="" src="{% static 'images/key.png' %}"/>&nbsp;Log-in!
      </button></td>
      <td><button type="reset" value="reset" name="reset" title="Resets username and password fileds">
        <img alt="" src="{% static 'images/eraser.png' %}"/>&nbsp;Clear
      </button></td>
    </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  <p>If you forgot your password, <a href="{% url 'password_reset' %}">click here</a> to get an e-mail with a password-reset link.</p>
  <p>You can also <a href="{% url 'register' %}">register as a new user...</a></p>
  
{% endif %}

{% endblock %}