<div id="menunav">
  <ul>
    {% if user.is_authenticated %}
      <li><a rel="section" class="{{class_users}}" href="{% url 'serials:user_main' user_name=user.username %}" title="{{APPNAME}} Home Page for {{user.username}}"><span>User</span></a></li>
    {% else %}
      <li><a rel="section" class="{{class_home}}" href="{% url 'home' %}" title="{{APPNAME}} Home Page"><span>Home</span></a></li>
    {% endif %}
    <li><a rel="section" class="{{class_about}}" href="{% url 'about' %}" title="About {{APPNAME}}"><span>About</span></a></li>
    {% if user.is_authenticated %}
      <li><a rel="section" class="{{class_logout}}" href="{% url 'logout' %}" title="Logout {{user.username}} from {{APPNAME}}"><span>Logout</span></a></li>
    {% else %}
      <li><a rel="section" class="{{class_login}}" href="{% url 'login' %}" title="Login {{APPNAME}}"><span>Login</span></a></li>
      <li><a rel="section" class="{{class_register}}" href="{% url 'register' %}" title="Register in {{APPNAME}}"><span>Register</span></a></li>
    {% endif %}
    <li><a rel="section" class="{{class_help}}" href="{% url 'help' %}" title="{{APPNAME}} Help"><span>Help</span></a></li>
    <li><a rel="section" class="{{class_todo}}" href="{% url 'todo' %}" title="{{APPNAME}}, a work in continuous evolution"><span>To Do</span></a></li>
  </ul>
</div>
