{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}

  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are already logged-in, 
  so you don't need to use the e-mail password-reset functionality.</p>

{% else %}

  <h3>Password reset successful</h3>
  
  <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
  <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  
{% endif %}

{% endblock %}