{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if validlink %}

  {% if form.errors %}
    <p class="error">The two password fields didn't match. Please try again:</p>
  {% else %}
    <p>Please, enter the new password you want:</p>
  {% endif %}
  
  <form method="post" action="">
    {% csrf_token %}
    <table>
    <tr>
      <td>{{ form.new_password1.label_tag }}</td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.label_tag }}</td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td><button type="submit" value="password-reset" name="password-reset" title="Change password">
        <img alt="" src="{% static 'images/key.png' %}"/>&nbsp;Change password
      </button></td>
      <td><button type="reset" value="reset" name="reset" title="Resets passwords fileds">
        <img alt="" src="{% static 'images/eraser.png' %}"/>&nbsp;Clear
      </button></td>
    </tr>
    </table>
  </form>
  
{% else %}

  <p class="error">Sorry, but this password-reset link is no valid.</p>
  
  <p>To get a new e-mail with a new password-reset link. <a href="{% url 'password-reset' %}">click here</a>.</p>
  <p>You can also <a href="{% url 'register' %}">register as a new user...</a></p>

{% endif %}

{% endblock %}