{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}

  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are already logged-in, 
  so you don't need to use the e-mail password-reset functionality.</p>

{% else %}

  {% if form.errors %}
    <p class="error">The e-mail you supplied is not valid. Please try again:</p>
  {% else %}
    <p>Please, enter the e-mail to send a password-reset link:</p>
  {% endif %}
  
  <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <table>
    <tr>
      <td>{{ form.email.label_tag }}</td>
      <td>{{ form.email }}</td>
    </tr>
    <tr>
      <td><button type="submit" value="email-password-reset" name="email-password-reset" title="Send a password-reset link">
        <img alt="" src="{% static 'images/email.png' %}"/>&nbsp;Send password-reset link
      </button></td>
      <td><button type="reset" value="reset" name="reset" title="Resets e-mail address field">
        <img alt="" src="{% static 'images/eraser.png' %}"/>&nbsp;Clear
      </button></td>
    </tr>
    </table>
  </form>
  
{% endif %}

{% endblock %}