{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}

  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are already logged-in, 
  so you don't need to use the e-mail password-reset functionality.</p>

{% else %}

  <h3>Registration successful</h3>
  
  <p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>
  <p>If you don't receive an email, please check your spam folder, or <a href="{% url 'password_reset' %}">ask for a new registration confirmation e-mail</a>.</p>
  
{% endif %}

{% endblock %}