{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}

  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are already logged-in, 
  so you don't need to use the e-mail password-reset functionality.</p>

{% else %}

  <h3>Registration complete</h3>
  
  <p>Your password has been set. You may go ahead and <a href="{% url 'login' %}">log in</a> now.</p>
  
{% endif %}

{% endblock %}