{% extends base_template %}

{% load staticfiles %}

{% block section %}

{% if user.is_authenticated %}
  <p>Hello <a href="{% url 'serials:user_main' user_name=user.username %}">{{user.username}}</a>, you are logged-in.</p>
{% else %}
  {% if form.errors %}
    <div class="error">
      {{form.errors}}
      <p>Please try again:</p>
    </div>
  {% else %}
    <p>Please, enter a username, an e-mail address and a password to register:</p>
  {% endif %}
  
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.email.label_tag }}</td>
      <td>{{ form.email }}</td>
    </tr>
    <tr>
      <td><button type="submit" value="register" name="register" title="Register given username and password">
        <img alt="" src="{% static 'images/register.png' %}"/>&nbsp;Register!
      </button></td>
      <td><button type="reset" value="reset" name="reset" title="Resets username and e-mail address fileds">
        <img alt="" src="{% static 'images/eraser.png' %}"/>&nbsp;Clear
      </button></td>
    </tr>
    </table>
  </form>
  
  <p>You can also <a href="{% url 'login' %}">login as an existing user...</a></p>
  
{% endif %}

{% endblock %}