html, body { 
  margin : 0;
  padding : 0;
} 
body { 
  font : 90% Arial, "Trebuchet MS", Helvetica, Tahoma, sans-serif;
  background : #ccc;
  color : #181818;
}

/*WRAPPER*/
#wrap { 
  width : 83%;
  margin-left : auto;
  margin-right : auto;
  padding : 0;
  border : 10px solid #fff;
  background : #fff url(/files/images/wrap_bg.jpg) repeat-x;
}

/*HEADER*/
#header { 
  height : 129px;
  padding : 0;
  margin-bottom : 0;
}

/*MAIN CONTAINER*/
#container { 
  width : 100%;
  margin-left : auto;
  margin-right : auto;
  margin-top : 10px;
  padding : 0;
  line-height : 1.8em;
}

/*TOP NAVIGATION BAR*/
#menucontainer { 
  position : relative;
  height : 56px;
  color : #e0e0e0;
  background : #143d55;
  width : 100%;
  font-family : Helvetica, Arial, Verdana, sans-serif;
} 
#menunav { 
  position : relative;
  height : 33px;
  font-size : 12px;
  text-transform : uppercase;
  font-weight : bold;
  background : #fff url(/files/images/menu_bg.gif) repeat-x bottom left;
  padding : 0 0 0 20px;
} 
#menunav ul { 
  margin : 0;
  padding : 0;
  list-style-type : none;
  width : auto;
  float : left;
} 
#menunav ul li { 
  display : block;
  float : left;
  padding : 0 1px;
} 
#menunav ul li a { 
  display : block;
  float : left;
  color : #eaf3f8;
  text-decoration : none;
  padding : 0 0 0 20px;
  height : 33px;
} 
#menunav ul li a span { 
  padding : 12px 20px 0 0;
  height : 21px;
  float : left;
} 
#menunav ul li a:hover { 
  color : #fff;
  background : transparent url(/files/images/menu_bg-OVER.gif) repeat-x bottom left;
} 
#menunav ul li a:hover span { 
  display : block;
  width : auto;
  cursor : pointer;
} 
#menunav ul li a.current, #menunav ul li a.current:hover { 
  color : #fff;
  background : #1d6893 url(/files/images/menu_left-ON.gif) no-repeat top left;
  line-height : 275%;
} 
#menunav ul li a.current span { 
  display : block;
  padding : 0 20px 0 0;
  width : auto;
  background : #1d6893 url(/files/images/menu_right-ON.gif) no-repeat top right;
  height : 33px;
  text-shadow : 1px 1px 2px #000;
}

/*MAIN SECTION CONTENT*/
#content { 
  padding : 0 1em 0 1em;
  margin : 0 240px 0 0;
  border-right : 1px solid #eee;
}

/*SIDEBAR*/
#sidebar { 
  float : right;
  width : 200px;
  margin-top : 0;
  padding : 0 1em 0 1em;
}

/*FOOTER*/
#footer { 
  clear : both;
  height : auto;
  padding : 0;
  margin-bottom : 0;
  margin-top : 20px;
  text-align : center;
  border-top : 5px solid #4592be;
  color : #fff;
  background : #143d55;
}

/*TYPOGRAPHY*/
h1 { 
  float : left;
  margin : 0;
  padding : 10px 0 10px 25px;
  font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
  letter-spacing : 2px;
  color : #fff;
} 
h2 { 
  float : right;
  margin : 0;
  padding : 5px 20px 20px 0;
  font : 90% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
  color : #4592be;
} 
h2 a:hover { 
  color : #eee;
  text-decoration : overline underline;
  text-shadow : none;
} 
h3 { 
  margin : 0;
  padding : 10px 0 5px 0;
  border-bottom : 1px solid #aaa;
  font : 150% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
  text-transform : capitalize;
  letter-spacing : 1px;
  color : #143c55;
}
h4 { 
  margin : 0;
  padding : 5px 10px 2px 0;
  border-bottom : 1px solid #CACACA;
  font : 130% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
  text-transform : none;
  letter-spacing : 0.5px;
  color : #2B577B;
}
h5 { 
  margin : 0;
  padding : 2px 10px 2px 0;
  border-bottom : 1px dashed #DADADA;
  border-top : 1px dashed #DADADA;
  font : 110% "Trebuchet MS", Helvetica, Arial, Tahoma, sans-serif;
  text-transform : none;
  letter-spacing : 0.5px;
  color : #356185;
}
p {
  text-align : justify;
}
p.error {
  border : 1px solid red;
  padding-left : 5px;
  color : #AB0303;
  font-weight : bolder;
}
p.news {
  background : transparent url(/files/images/news.gif) no-repeat 0px 4px;
  padding-left : 21px;
  text-align : left;
  line-height : 1.5em;
}
p.logs {
  background : transparent url(/files/images/logs.gif) no-repeat 0px 4px;
  padding-left : 21px;
  text-align : left;
  line-height : 1.5em;
}
.hints {
  line-height : 1em;
  padding : 10px;
  margin : 5px;
  background-color : rgb(248, 248, 248);
  font: 90% Arial,"Trebuchet MS",Helvetica,Tahoma,sans-serif;
}
blockquote {
  font-weight : bold;
  font-style : italic;
  color : #b29b35;
}
em {
  color : #000000;
  font-style : italic;
  font-weight : bolder;
}

/*TABLES*/
th img {
  vertical-align : bottom;
}

table.browser {
  display : table;
  padding : 10px;
  border : 1px solid #ADADAD;
  border-collapse : collapse;
}
/* Mozilla Firefox gets crazy with this: */
/*
table.browser th {
  border : 1px solid black;
}
*/
/* Google Chrome doesn't support outlines in tables: */
/*
table.browser tr:hover {
  outline : 2px solid orange;
}
*/
table.browser tr:hover {
  border : 1px double orange;
}
table.browser tr#main_header {
  background-color : #65A5D3;
}
table.browser tr#main_header:hover {
  border : 1px solid #ADADAD;
}
table.browser tr#sub_header {
  background-color : #92D2FF;
}
table.browser tr#sub_header:hover {
  border : 1px solid #ADADAD;
  cursor : help;
}
table.browser colgroup#col_peptide{
  background-color :  #eeddcc;
}
table.browser colgroup#col_protein{
  background-color :  #DCEECC;
}
table.browser a:hover { 
  color : inherit;
  background : inherit;
  text-shadow : none;
}

table.viewer {
  display : table;
  padding : 10px;
  border : 1px solid #ADADAD;
  border-collapse : collapse;
  text-align : center;
  vertical-align : middle;
}
table.viewer tr.peptid_header {
  background-color : orange;
}
table.viewer tr.peptid_header:hover {
  outline : none;
  cursor : help;
}
table.viewer th {
  border : 1px solid black;
}
table.viewer th.quant_header {
  background-color : yellow;
}
table.viewer th.quant_header:hover {
  outline : none;
  cursor : help;
}

/*LINKS*/
a:link, a:visited { 
  color : #4592be;
  background : inherit;
  text-decoration : none;
} 
a:hover { 
  color : #4E45BE;
  background : inherit;
  text-shadow : 1px 1px 1px #B1B1B1;
} 
.noshadow a:hover { 
  color : inherit;
  background : inherit;
  text-shadow : none;
}
a img {
  border : 0;
  text-decoration : none;
}

/*IMAGES*/
img.left { 
  float : left;
  border : 0 solid #656c4a;
  margin : 0px 10px 0px 5px;
  padding : 10px;
} 
img.right { 
  float : right;
  border : 0 solid #656c4a;
  margin : 0px 5px 0px 10px;
  padding : 10px;
} 
img.center {
  display : block;
  text-align : center;
  border : 0 solid #656c4a;
  margin : 10px auto;
  padding : 10px;
}

/*FORMS*/
fieldset {
  margin-bottom : 6px;
  margin-top : 12px;
  padding : 4.5px;
  text-align : center;
}
legend { 
  margin-bottom : 0px;
  color : #143c55;
} 
input { 
  background-color : #fff;
  padding : 2px;
}
input:focus { 
  background-color : #FFF5E3;
  outline : 2px solid orange;
}
button {
  background-color : #ddd;
  margin : 4px;
  text-align : center;
  padding : 1px 4px 2px 3px;
}
button[type="submit"]:enabled:hover, button[type="submit"]:focus {
  cursor : pointer;
  outline : 2px solid orange;
}
button:enabled:active {
  background-color : #FFF5E3;
}
.own_button {
  display : inline-block;
  background-color : #ddd;
  margin : 1px;
  text-align : center;
  border-style : outset;
  border-width : 1px;
  padding : 1px;
}
div.own_button:hover {
  cursor : pointer;
}
div.own_button:active {
  cursor : pointer;
  border-style : inset;
}
form label:hover {
  cursor : pointer;
}
.own_textbox {
  display : inline-block;
  background-color : #fff;
  margin : 1px;
  text-align : center;
  border-style : inset;
  border-width : 1px;
  padding : 1px;
}
